.flex {
  display: flex;
}
.image {
  min-width: 100%;
  min-height: 60%;
  width: 100%;
  height: 60%;
}
.oneline {
  white-space: nowrap;
}


.addToCart > a {
  /* background-color: blue; */
  text-decoration: none;
}
